/* @import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap') */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

/* body {
    font-family: 'Lato', sans-serif;
} */

header {
    background-image: url(./img/1_Header/Header\ Header-Background@2x.jpg);
    background-size: cover;
    position: relative;
    height: 100vh;
    max-width: 1920px;
    color: white;
    margin: 0 auto;
}